*__pycache__*
CMakeCache*
CMakeFiles
cmake_install*

hokuyo/hokuyo_sdl
hokuyo/hokuyo
*.dblite
*build
*.o
*.elf
*.hex
*.depend
*.layout
*.a
*.pyc
*.exe
*.save
workspace*
libs/cgal/Makefile
libs/cgal/cmake_install.cmake
libs/cgal/CMakeLists.txt
libs/cgal/CMakeFiles/*
libs/cgal/CMakeCache.txt
libs/cgal/partition
libs/cgal/partition_continue
ia/log/*.log
ia/log/*.xml
.idea/*
